html, body {
  margin: 2%;
  padding: 0;
  background-color: rgb(90, 89, 89);
}

canvas {
  display: block;
  margin: auto;
  outline: black 5px solid;
}

p {
  display: block;
  margin: 2%;
  display: center;
  text-align: center;
  color: rgb(211, 211, 211);
}
